/* Page Contain */
.pageContain{
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  background-color: #FFFFFF;
}
/* Header */
.header{
  position: absolute;
  z-index: 500;
  top: 0px;
  left: 50%;
  width: 100%;
  background-color: rgba(28, 28, 33, 0);
  transform: translateX(-50%);
  padding: 2em 0px;
}
header .logo{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.7em;
  color: white;
}
.blockContain{
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
}
.mainNav{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
ul.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.nav > li {
  position: relative;
  padding: 2.68em 1.5em;
  cursor: pointer;
}
ul.nav > li .navItem {
  text-transform: uppercase;
  font-size: .875em;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  transition: color .3s ease;
}
.loginBtn{
  text-decoration: none;
  display: block;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.16);
  padding: .7em 1.4em;
  border-radius: 3em;
  font-weight: 600;
}
@media (min-width: 62em){
  .header .contain {
    display: flex;
    justify-content: space-between;
  }
}
/* Head Section */
.head{
  background: rgb(28, 28, 33);
  position: relative;
  padding-top: 6.5em;
}
.bg{
  position: absolute;
  overflow: hidden;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.bg img{
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  max-width: 200%;
}
.contain{
  padding: 0 11.125%;
  max-width: 90em;
  margin: 0 auto;
}
.headContent{
  position: relative;
  color: white;
  max-width: 40em;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 18%  10%  40%  10%
}

.huge{
  margin-bottom: 0.44em;
  font-size: 4.2em;
  font-weight: 400;
  line-height: 1.1em;
}
.underP{
  font-size: 1.2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1.44em;
} 
.btnRound{
  display: inline-block;
  line-height: 1.25em;
  font-weight: 400;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 3em;
  outline: none;
  background: #FFFFFF;
  color: #387CDF;
  padding: 1.125em 2em;
  transition: all 0.3s ease 0s
}
@media (max-width: 1210px){
  .huge{
    font-size: 3.2em;;
  }
  .underP{
    font-size: 1em;
  }
  .loginBtn{
    display: none
  }
  .btnRound{
    padding: 0.86em 1.53em;
  }

}
@media (max-width: 1000px){
  .mainNav{
    display: none;
  }
  .header{
    text-align: center;
  }
  .huge{
    font-size: 2.2em;
  }
  .underP{
    font-size: 0.9em;
  }
  .loginBtn{
    display: none
  }
  .btnRound{
    padding: 0.56em 1.13em;
  }
}
@media (min-width: 50em){
  .headContent {
      padding: 8% 2em 16%;
  }
  .bg img{
    max-width: 130%;
  }
}
/* Body Content */
.bodyContent{
  position: relative;
  background: #FFFFFF;
}
.pageNav{
  display: block;
  position: sticky;
  z-index: 100;
  top: 0px;
  left: 0px;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(43, 47, 57, 0.1);
}
.pageNav ul{
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.pageNav ul li{
  overflow: hidden;
  padding: 0px 1%;
  text-align: center;
}
.subNav{
  display: block;
  padding: 2rem 1em;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.34;
  color: #151C34;
  opacity: 0.4;
}

/* Main Section */
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.content{
  margin: 0 8%;
  text-align: left;
}

/* Solutions */
.solutions{
  text-align: center;
}
.solutionsPresentation{
  padding: 6em;
  border-bottom: 1px solid rgba(43, 47, 57, 0.1);
}
.solutionsPresentation h2{
  font-size: 1.4em;
  font-weight: 700;
}
.solutionsPresentation p{
  color: #6D6D6D;
}
.mainTitle{
  font-size: 2em;
}
.content .underP{
  color: #6D6D6D;
  margin-bottom: 3.2em;
}
.content .btnRound{
  margin-bottom: 5em;
  font-weight: 700;
  background-color: #151C34;
  color: white;
}
.heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.875em;
}
.mainImg{
  width: 80%;
  border-radius: .5em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.solutionLinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.solutionLinks li{
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}
.solutionLinks li img{
  margin-right: 1em;
}
.solutionLinks li div {
  max-width: 21.4375em;
  margin: 0;
}
.solutionLinks li div a{
  display: flex;
  align-items: center;
  color:  #387CDF !important;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1em;
}
.solutionLinks li div p{
  color: #6D6D6D; 
}